* {
  font-family: "Trebuchet MS";
}

form {
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  width: 450px;
  padding: 8dvw;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  margin: auto;
}

.center {
  text-align: center;
}

.App-header h1 {
  font-size: 4rem;
  line-height: 1;
  color: black;
  font-family:"Courier New";
  margin-top: 3dvh;
}

.App-header h2 {
  font-size: 1.9rem;
  line-height: 1.1;
  color: black;
  margin-bottom: 3dvh;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.5;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #40e0d0;
}

button {
  background: #00bfff;
  color: #ffffff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 19px;
  font-weight: bold;
  transition: background-color 0.5s ease, opacity 0.3s ease;
}

button:hover {
  background: linear-gradient(to bottom, #00bfff, #87ceeb);
  opacity: 0.8;
}

.action-button {
  background: #00bfff;
  color: #ffffff;
  padding: 10px 20px;
  margin: 10px auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 19px;
  font-weight: bold;
  display: block;
  width: 30%;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.action-button:hover {
  background: linear-gradient(to bottom, #00bfff, #87ceeb);
  opacity: 0.8;
}

.image-container {
  text-align: center;
  position: relative;
  z-index: -1;
}
.image-container img{
  max-height:60dvh;
  max-width:80dvw;
  height:auto;
  width:auto;
}


@media screen and (min-width:300px) and (max-width:799px){
  html {
    font-size: 8px !important;
  }
  form {
    width: 75%;
  }
  .action-button {
    width: 75dvw;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 16px !important;
  }
}